/*
 * CSS for cvi-tools
 */

.side-box {
    float: left;
    border: 2px solid black;
    padding: 10px;
    table-layout: fixed;
    display: table;
}

.ctable {
	margin: 0 0 0 0px;
    table-layout:fixed;
    display: table;
}

thead {
    background-color: lightgrey;
}

td {
    text-align: center;
}

tfoot {
    background-color: lightgray;
}